/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.fujiovxr
*.zip
/accessoriesuploads
/productimage
/slideruploads
/storage/logs
/dash
/dash/*
/.well-known

/public